.container {
  background-color: white;
  width: 400px;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.heading {
  font-size: 20px;
  font-weight: 500;
}

.title {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.button {
  padding-inline: 10px;
}
